.header {
  position: absolute;
  width: 428px;
  height: 103px;
  left: 386px;
  top: -40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 103px;
  text-align: center;

  /* White */

  color: #FFFFFF;
}

.subHeader {
  position: absolute;
  width: 264px;
  height: 38px;
  left: 468px;
  top: 120px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  /* Grey 3 */

  color: #BDBDBD;
}

.map {
  position: absolute;
  width: 1040px;
  height: 660.42px;
  left: 80px;
  top: 280px;
}

/* .color-key-box {
  position: absolute;
  width: 288px;
  height: 80px;
  left: 306px;
  top: 350px;
} */

.color-key {
  position: absolute;
  width: 288px;
  height: 80px;
  left: 456px;
  top: 230px;
}



/* .date {
font-style: normal;
font-weight: bold;
font-size: 5em;
line-height: 47px;
margin-top: -1.5em;
margin-bottom: 1.5em;
color: #4388f7;
} */

.timeline-box {
  position: absolute;
  width: 745px;
  height: 52px;
  left: 130px;
  top: -190px;
}

.timeline {
  position: absolute;
  width: 4px;
  height: 560px;
  left: 450px;
  top: 955px;

  /* Grey 5 */

  background: #4F4F4F;
  border-radius: 99px;
  transform: rotate(-90deg);
}

.timelineDate {
  position: absolute;
  width: 66px;
  height: 23px;
  top: 1205px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;

  /* Grey 2 */

  color: #E0E0E0;
  overflow: hidden;
  white-space: nowrap;
}

.startDate {
  left: 78px;
  text-align: right;

}


.endDate {
  left: 770px;

}

.dateLabel {
  position: static;
  width: 66px;
  height: 28px;
  left: 24px;
  top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  /* Black */

  color: #000000;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  margin: 10px 0px;
}

.dateBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 12px 24px; */

  position: absolute;
  width: 114px;
  height: 52px;
  /* left: 147px; */
  top: 1210px !important;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 99px;
  overflow: hidden;
  white-space: nowrap;
}

/* .dynamic {
position: relative;
margin-top: -145px;
} */

.can-logo {
  position: absolute;
  width: 390.49px;
  height: 48px;
  left: 405px;
  top: 1110px;


  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.container {
  float: left;
  position: relative;
  width: 1200px;
  height: 1200px;
  float: left;
  cursor: none;

  /* Black */

  background: #000000;
}
